$dotsBaseDistance: 130%;
$dotsActiveDistance: 240%;

.dot{
  $size: 20%;

  display:block;
  width: $size;
  height: $size;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 50%;
  margin-left: $size / -2;
  margin-top: $size / -2;

  transition: transform $time * 1.2 linear;
}
.dot--r1{
  transform: translate($dotsBaseDistance, - $dotsBaseDistance);
}
.dot--r2{
  transform: translate($dotsBaseDistance, $dotsBaseDistance);
}
.dot--r3{
  transform: translate(- $dotsBaseDistance, - $dotsBaseDistance);
}
.dot--r4{
  transform: translate(- $dotsBaseDistance, $dotsBaseDistance);
}

&.active {
  .dot{
    transition: transform $time $fn;
  }
  .dot--r1{
    transform: translate($dotsActiveDistance, - $dotsActiveDistance);
  }
  .dot--r2{
    transform: translate($dotsActiveDistance, $dotsActiveDistance);
  }
  .dot--r3{
    transform: translate(- $dotsActiveDistance, - $dotsActiveDistance);
  }
  .dot--r4{
    transform: translate(- $dotsActiveDistance, $dotsActiveDistance);
  }
}