$timeUnit: .12s;
$timeTwo: 2 * $timeUnit;
$timeThree: 3 * $timeUnit;
$trophyFn: cubic-bezier(.645, .045, .355, 1);

#trophy {
  max-width: 80%;
  margin-top: 15%;
  transition: margin-top $timeTwo $trophyFn $timeUnit * 6.5;

  path {
    fill: #fff;
  }
}
#podium {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}

#trophy-icon {
  width: 100%;
  height: 100%;

  .podium-line {
    background-color: #fff;
    position: absolute;
    top: 73%;
  }

  .podium--h {
    height: 5%;
  }

  .podium--v {
    width: 5%;
  }
  .podium-1 {
    left: 0%;
    top: 87%;
    width: 0%;
    transition: all $timeTwo $fn $timeUnit * 8;
  }
  .podium-2 {
    left: 25.5%;
    height: 0%;
    top: 92%;
    transition: all $timeUnit $trophyFn $timeUnit * 7;
  }
  .podium-3{
    left: 25.5%;
    width: 0%;
    transition: all $timeThree $timeUnit * 4;
  }
  .podium-4 {
    left: 69%;
    height: 0%;
    transition: all $timeTwo $trophyFn $timeTwo;
  }
  .podium-5{
    top: 95%;
    left: 74%;
    width: 0%;
    transition: all $timeTwo;
  }
}
.active {
  #trophy {
    margin-top: 0%;
    transition: margin-top $timeTwo $trophyFn $timeUnit * 1.5;
  }

  #trophy-icon {
    .podium-1{
      width: 29%;
      transition: all $timeTwo $fn;
    }

    .podium-2{
      height: 19%;
      top: 73%;
      transition: all $timeUnit $trophyFn $timeTwo;
    }

    .podium-3{
      width: 48.5%;
      transition: all $timeThree $timeThree;
    }

    .podium-4 {
      height: 27%;
      transition: all $timeUnit $trophyFn $timeUnit * 6;
    }

    .podium-5 {
      width: 26%;
      transition: all $timeThree $fn $timeUnit * 7;
    }
  }
}