$barTime1: $time * .2;
$barTime2: $time * .6;
$barTime3: $time * .8;

#bars-icon {
  position: relative;
  display: block;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform $time $fn $barTime2;

  .bars {
    display: block;
    width: 100%;
    height: 20%;
    border-radius: 5%/20%;
    background-color: #fff;
    position: relative;
    top: 0;
    transition: margin $time $fn $barTime3, top $time $fn $barTime3;

    &:nth-child(2) {
      margin: 20% 0;
    }
  }
}
.active {
  #bars-icon {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform $time $fn;
  }
  #bars-icon .bars {
    top: -30%;
    transition: margin $time $fn $barTime1, top $time $fn $barTime1;
    &:nth-child(2) {
      margin: 50% 0;
    }
  }
}